body{
  background-color: hsl(0, 0%, 0%);
  margin: 1.5rem;
  color: orange;
}

.container {
  background-color: #000000;
  border-radius: 0.75rem;
  max-width: 50rem;
  padding: 2rem 2rem;
}

.nospace {
  margin: 1.5rem auto;
  max-width: 50rem;
}

h1 {
  color: #cd9000;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

h4 {
  color: orange;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 3.5rem 0;
  text-align: center;
}

.btn.btn-primary {
  background-color: #5a3c90;
  border-color: #5a3c90;
}

.btn.btn-primary:hover {
  background-color: #4e357e;
  border-color: #4e357e;
}

.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: #6544A2;
  border-color: #6544A2;
}

.donate-link {
  color: #fff;
  text-decoration: none;
}

.donate-link:hover {
  color: #ff9900;
  text-decoration: none;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.no-decoration:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.tiny-text {
  font-size: 14px;
}

.bold-purple {
  color: #5a3c90;
  font-weight: 600;
}

input[type="text"] {
  background-color:#52003c;
  color: orange;
}

input[type="text"]:focus {
  outline: none;
  background-color: #52003c;
  border-color: orange;
  color: orange;
}

.progress-bar {
  background-color: orange; /* Color of the progress indicator */
  
}

.progress {
  background-color: #52003c; /* Color of the progress indicator */
}

.card {
  border: 1px solid #ccc; /* Border color and width */
  background-color: black; /* Background color */
  color: orange;
}

.form-check-input[type="radio"]:checked {
  background-color: #52003c; /* Background color when checked */
  border-color: orange;
  outline: none;
}

.form-check-input[type="radio"]:checked::before {
  content: ''; /* Empty content */
  background-color: #52003c; /* Color of the dot */
  position: absolute; 
  outline: none;

}
.form-check-input:disabled + .form-check-label {
  color: #52003c; 
}

.form-check-label:hover {
  color: rgb(255, 201, 100); 
}
.form-check-input{
  background-color: #52003c;
  outline: none;

}
.form-check-input:checked {
  background-color: orange;
}

input[type="text"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px purple inset; 
  -webkit-text-fill-color: orange !important; 
}

.table thead th {
  background-color: black; 
  color: orange;
}